@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --text: #040316;
    --text-light: #FFF;
    
    --primary: #1B1A56;
    --secondary: #8F8EC2;
    --accent: #443DFF;
    --error: #e61b37;
    --success: #267d48;
    --warning: #ffa500;
    --info: #1fa2e2;

    --text-thin: 200;
    --text-semithin: 300;
    --text-regular: 400;
    --text-medium: 500;
    --text-semibold: 600;
    --text-bold: 700;
    --text-extra-bold: 800;
    
    --text-h1: 3.815rem;
    --text-h2: 3.052rem;
    --text-h3: 2.442rem;
    --text-h4: 1.953rem;
    --text-h5: 1.563rem;
    --text-h6: 1.25rem;
    --text-body: 1rem;
    --text-small: 0.8rem;
}

/* Global Styles */
* {
    font-family: 'Poppins';
    font-size: var(--text-body);
    font-weight: var(--text-regular);
    line-height: 1.6;
    letter-spacing: 0.03em;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--text-h1);
    font-weight: var(--text-bold);
}

h2 {
    font-size: var(--text-h2);
    font-weight: var(--text-semibold);
}

h3 {
    font-size: var(--text-h3);
    font-weight: var(--text-semibold);
}

h4 {
    font-size: var(--text-h4);
    font-weight: var(--text-semibold);
}

h5 {
    font-size: var(--text-h5);
    font-weight: var(--text-semibold);
}

h6 {
    font-size: var(--text-h6);
    font-weight: var(--text-medium);
}

small {
    font-size: var(--text-small);
    font-weight: var(--text-thin);
}

a {
    color: var(--accent);
}

th {
    font-weight: var(--text-semibold);
}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

section {
    padding: 40px 0;
}

/* Components */
#app {
    min-height: 100vh;
}

.bg-primary, .btn-primary {
    background-color: var(--primary) !important;
    color: var(--text-light) !important;
}

.bg-secondary, .btn-secondary {
    background-color: var(--secondary) !important;
    color: var(--text-light) !important;
}

.bg-danger, .bg-error, .btn-danger, .btn-error {
    background-color: var(--error) !important;
    color: var(--text-light) !important;
}

.bg-warning, .btn-warning {
    background-color: var(--warning) !important;
    color: var(--text-light) !important;
}

.bg-info, .btn-info {
    background-color: var(--info) !important;
    color: var(--text-light) !important;
}

.bg-success, .btn-success {
    background-color: var(--success) !important;
    color: var(--text-light) !important;
}

.btn-primary, .btn-secondary, .btn-danger, .btn-error, .btn-info, .btn-success, .btn-warning {
    border: none;
}

#preview img {
    object-fit: cover;
    border-radius: 20px;
}

#preview.cover-small img {
    max-height: 50vh;
    aspect-ratio: 9 / 16;
}

#preview.profile img {
    aspect-ratio: 4 / 3;
    max-height: 30vh;
}

#preview.cover img {
    max-height: 65vh;
    aspect-ratio: 9 / 16;
}

.large-thumbnail img {
    max-height: 35vh;
}

.genre {
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 20px;
}

.bordered {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 40px;
}

.brand {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}

.brand img {
    max-width: 50px;
    max-height: 50px;
}

/* Authentication */
.auth-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    max-width: 500px;
}

.auth-box .fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-box .actions {
    display: flex;
    gap: 10px;
}

/* Navigation */
.navbar {
    border-bottom: 1px solid gray;
    background: transparent;
    display: flex;
    align-items: center;
}

.navbar .brand h5 {
    margin: 0;
}

.navbar .btn-nav{
    display: flex;

}
.navbar-toggler {
    border: none;
}
  
.navbar-toggler:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    outline: none;
}

#side-nav {
    max-width: 90px;
    background-color: var(--primary);
    color: var(--text-light);
    padding: 20px;
    width: 100%;
    transition: all 0.4s;
}

#side-nav a {
    text-decoration: none;
    color: inherit;
}

#side-nav .nav-items {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 12px;
}

#side-nav .nav-item {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 20px;
    padding: 15px;
    transition: all 0.4s ease;
}

#side-nav .nav-item:hover,
#side-nav .active {
    background-color: var(--secondary);
}

#side-nav .nav-item i {
    font-size: 20px;
}

#side-nav[data-collapsed="false"] {
    max-width: 250px;
}

#side-nav[data-collapsed="false"] .side-nav-open {
    display: none;
}

#side-nav[data-collapsed="true"] .side-nav-close {
    display: none;
}

#side-nav[data-collapsed="true"] .nav-item-title {
    display: none;
}

/* Dashboard */
.action-bar {
    display: flex;
    gap: 6px;
    width: 100%;
}

#dashboardLeftFrame {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    max-width: 80vw;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.item-card {
    transition: all .3s;
    height: 350px;
    overflow: hidden;
}

.item-card.active {
    opacity: 50%;
}

.item-card .card-title {
    text-align: center;
}

.item-card .card-body {
    padding: 6px 0;
}

.item-card:not(.active) .title {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-light);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all .3s;
    user-select: none;
}

.item-card:not(.active) .title:hover {
    opacity: 100%;
}

.item-card img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item-card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.item-card:active {
    opacity: 75%;
    transform: scale(.99);
}

.item-card:active, .item-card:hover {
    cursor: pointer;
}
.card img{
    width: 245px;
    height: 377px;
}
.card-text{
    margin-top: 1rem;
}