@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --text: #040316;
    --text-light: #FFF;
    --primary: #1B1A56;
    --secondary: #8F8EC2;
    --accent: #443DFF;

    --text-thin: 200;
    --text-semithin: 300;
    --text-regular: 400;
    --text-medium: 500;
    --text-semibold: 600;
    --text-bold: 700;
    --text-extra-bold: 800; 
}

/* Global Styles */
* {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: var(--text-regular);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1 {
    font-size: 64px;
    font-weight: var(--text-bold);
}

h2 {
    font-size: 48px;
    font-weight: var(--text-semibold);
}

h3 {
    font-size: 36px;
    font-weight: var(--text-semibold);
}

h4 {
    font-size: 28px;
    font-weight: var(--text-semibold);
}

h5 {
    font-size: 24px;
    font-weight: var(--text-semibold);
}

small {
    font-size: 14px;
    font-weight: var(--text-thin);
}

a {
    color: var(--accent);
}

th {
    font-weight: var(--text-semibold);
}

/* Components */
#app {
    min-height: 100vh;
}

.bg-primary {
    background-color: var(--primary);
    color: var(--text-light);
}

.bg-secondary {
    background-color: var(--secondary);
    color: var(--text-light);
}

.btn-primary {
    background-color: var(--primary);
    color: var(--text-light);
}

.btn-secondary {
    background-color: var(--secondary);
    color: var(--text-light);
}

/* Authentication */
.auth-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    border: 1px gray solid;
    border-radius: 20px;
    padding: 40px;
    max-width: 500px;
}

.auth-box .brand {
    display: flex;
    gap: 15px;
    align-items: start;
}

.auth-box .fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-box .actions {
    display: flex;
    gap: 10px;
}

/* Navigation */
.navbar {
    border-bottom: 1px solid gray;
    background: transparent;
    display: flex;
    align-items: center;
    min-height: 60px;
}

.navbar .brand {
    display: flex;
    gap: 10px;
    align-items: start;
}

.navbar .brand h5 {
    margin: 0;
}

.navbar-toggler {
    border: none;
}
  
.navbar-toggler:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    outline: none;
}

#side-nav {
    max-width: 90px;
    background-color: var(--primary);
    color: var(--text-light);
    padding: 20px;
    width: 100%;
    transition: all 0.4s;
}

#side-nav a {
    text-decoration: none;
    color: inherit;
}

#side-nav .nav-items {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 12px;
}

#side-nav .nav-item {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 20px;
    padding: 15px;
    transition: all 0.4s ease;
}

#side-nav .nav-item:hover,
#side-nav .active {
    background-color: var(--secondary);
}

#side-nav .nav-item i {
    font-size: 20px;
}

#side-nav[data-collapsed="false"] {
    max-width: 250px;
}

#side-nav[data-collapsed="false"] .side-nav-open {
    display: none;
}

#side-nav[data-collapsed="true"] .side-nav-close {
    display: none;
}

#side-nav[data-collapsed="true"] .nav-item-title {
    display: none;
}

/* Dashboard */
.action-bar {
    display: flex;
    gap: 6px;
    width: 100%;
}

#dashboardLeftFrame {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    max-width: 80vw;
}

#preview img {
    max-height: 80vh;
    object-fit: cover;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
