// Color themes for Seven Books

$primary: #071952;
$secondary: #088395;
$tertiary: #37B7C3;
$accent: #443dff;
$text-light: #fff;
$body-light: #fff;

$primary-dark: #EBF4F6;
$secondary-dark: #37B7C3;
$tertiary-dark: #088395;
$body-dark: #232323;
$text-dark: #fff;

$danger: #e61b37;
$success: #267d48;
$warning: #ffa500;
$info: #1fa2e2;

$svb-light-theme: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "danger": $danger,
    "success": $success,
    "warning": $warning,
    "info": $info,
    "accent": $accent,
    "body": $body-light,
    "body-text": $text-light
);

$svb-dark-theme: (
    "primary": $primary-dark,
    "secondary": $secondary-dark,
    "tertiary": $tertiary-dark,
    "body": $body-dark,
    "body-text": $text-dark,
    "danger": $danger,
    "success": $success,
    "warning": $warning,
    "info": $info,
);

[data-bs-theme="dark"] {
    --bs-body-bg: $body-dark !important;
    --bs-body-color: $text-dark !important;
    --bs-primary: white !important; 
    --bs-secondary: $secondary-dark !important;
}