// Color themes for Seven Books

$primary: #071952;
$secondary: #088395;
$tertiary: #37B7C3;
$accent: #443dff;

$text-light: #fff;
$body-light: #fff;


$primary-dark: #EBF4F6;
$secondary-dark: #37B7C3;
$tertiary-dark: #088395;

$body-dark: #232323;
$text-dark: #fff;

$danger: #e61b37;
$success: #267d48;
$warning: #ffa500;
$info: #1fa2e2;

$svb-themes: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "danger": $danger,
    "success": $success,
    "warning": $warning,
    "info": $info,
    "accent": $accent,
    "body": $body-light,
    "body-text": $text-light
);

[data-bs-theme="dark"] {
    --bs-primary: #{$primary-dark};
    --bs-secondary: #{$secondary-dark};
    --bs-tertiary: #{$tertiary-dark};
    --bs-body-bg: #{$body-dark};
    --bs-body-text: #{$text-dark};

    .btn-primary {
        background-color: #{$primary-dark};
        color: $body-dark;
    }

    .text-primary {
        color: $primary-dark !important;
    }
}