// Component sets for Seven Books

/* ===== Component overrides ===== */
.bg-primary,
.bg-secondary,
.btn-primary,
.btn-secondary {
    color: $text-light;
}

/* ===== SVB Card ===== */
.svb-card {
    overflow: hidden;
    aspect-ratio: 1/1.5;
    min-height: 240px;
}

.svb-card.active {
    opacity: 50%;
}

.svb-card:not(.active) .title {
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0%;
    width: 100%;
    display: grid;
    place-items: center;
    color: $text-light;
    background-color: rgba($color: $primary, $alpha: 0.2);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    user-select: none;
}

.svb-card:not(.active) .title:hover,
.svb-card:not(.active):hover .title {
    opacity: 100%;
    height: 17%;
}

.svb-card img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ===== SVB Profile ===== */
.svb-profile {
    aspect-ratio: 1/1;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    display: flex;
    align-items: end;
}

.svb-profile .overlay {
    z-index: 1;
    width: 100%;
    height: 0%;
    background-color: rgba($color: $primary, $alpha: 0.8);
    color: $text-light;
    font-weight: $font-weight-semibold;
    display: grid;
    place-items: center;
    user-select: none;
    opacity: 0;
}

.svb-profile:hover .overlay,
.svb-profile .overlay:hover {
    opacity: 100%;
    height: 25%;
}

/* ===== SVB Search Box ===== */
.svb-search-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* ===== Preview ===== */
#preview img {
    object-fit: cover;
}

#preview.cover-small img {
    max-height: 50vh;
    aspect-ratio: 9 / 16;
}

#preview.profile img {
    aspect-ratio: 4 / 3;
    max-height: 30vh;
}

#preview.cover img {
    max-height: 65vh;
    aspect-ratio: 9 / 16;
}

/* ===== Side Navigation ===== */
#side-nav {
    max-width: 90px;
    padding: 20px;
    width: 100%;
    transition: all 0.4s;
}

#side-nav a {
    text-decoration: none;
    color: inherit;
}

#side-nav .nav-item {
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
}

#side-nav .nav-item:hover,
#side-nav .active {
    background-color: $secondary;
}

#side-nav .nav-item i {
    font-size: 20px;
}

#side-nav[data-collapsed="false"] {
    max-width: 100vw;
}

#side-nav[data-collapsed="true"] .nav-item-title {
    display: none;
}

#side-nav[data-collapsed="true"] .nav-item {
    justify-content: center;
}

#side-nav[data-collapsed="true"] img {
    width: 50px;
}

#side-nav[data-collapsed="false"] img {
    max-width: 22%;
}

/* ===== Navigation ===== */
.navbar {
    background: transparent;
    display: flex;
    align-items: center;
}

.navbar .brand h5 {
    margin: 0;
}

.navbar .btn-nav {
    display: flex;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    outline: none;
}

/* ===== Media Queries ===== */
@media screen and (min-width: 768px) {
    .md-z-0 {
        z-index: 0;
    }

    .md-z-10 {
        z-index: 10;
    }

    .md-z-20 {
        z-index: 20;
    }

    .md-z-30 {
        z-index: 30;
    }

    .md-absolute {
        position: absolute;
    }

    .md-relative {
        position: relative;
    }

    .md-over-none {
        transform: translate(0%);
    }

    .md-inset-0 {
        left: 0;
        top: 0;
    }

    .w-md-fit {
        width: fit-content !important;
    }
}

@media screen and (min-width: 992px) {
    .lg-z-0 {
        z-index: 0;
    }

    .lg-z-10 {
        z-index: 10;
    }

    .lg-z-20 {
        z-index: 20;
    }

    .lg-z-30 {
        z-index: 30;
    }

    .lg-absolute {
        position: absolute;
    }

    .lg-relative {
        position: relative;
    }

    .lg-inset-0 {
        left: 0;
        top: 0;
    }

    .lg-over-left {
        transform: translateX(-100%);
    }

    .lg-overflow-y-auto {
        overflow-y: auto !important;
    }

    .lg-over-none {
        transform: translateX(0%);
    }

    .w-lg-fit {
        width: fit-content !important;
    }

    #side-nav[data-collapsed="false"] {
        max-width: 250px !important;
    }
}
