// Custom Utilities for Seven Books

/* ===== Text ===== */
.text-inherit {
    color: inherit;
}

.text-none {
    text-decoration: none;
}

.h1,
.text-h1 {
    font-size: $h1-font-size;
}

.h2,
.text-h2 {
    font-size: $h2-font-size;
}

.h3,
.text-h3 {
    font-size: $h3-font-size;
}

.h4,
.text-h4 {
    font-size: $h4-font-size;
}

.h5,
.text-h5 {
    font-size: $h5-font-size;
}

.h6,
.text-h6 {
    font-size: $h6-font-size;
}

.body,
.text-body {
    font-size: $body-font-size;
}

.small,
.text-small {
    font-size: $small-font-size;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
    line-height: $headings-line-height;
    letter-spacing: $headings-letter-spacing;
}

/* ===== Content ===== */
.ratio-box {
    aspect-ratio: 1/1;
}

.ratio-wide-box {
    aspect-ratio: 4/3;
}

.ratio-landscape {
    aspect-ratio: 16/9;
}

.ratio-portrait {
    aspect-ratio: 9/16;
}

.ratio-book-cover {
    aspect-ratio: 1/1.5;
}

.object-cover {
    object-fit: cover;
}

.object-contain {
    object-fit: contain;
}

.size-\31 \/\32 {
    width: 50%;
    height: 50%;
}

.size-\31 \/\33 {
    width: 33%;
    height: 33%;
}

.size-\31 \/\34 {
    width: 25%;
    height: 25%;
}

.size-\31 \/\35 {
    width: 20%;
    height: 20%;
}

.size-\31 \/\31\30 {
    width: 10%;
    height: 10%;
}

.size-\33 \/\34 {
    width: 75%;
    height: 75%;
} 

.logo-xl {
    width: 64px;
    height: 64px;
}

.logo-lg {
    width: 48px;
    height: 48px;
}

.logo-md {
    width: 32px;
    height: 32px;
}

.logo-sm {
    width: 24px;
    height: 24px;
}

.logo-xs {
    width: 16px;
    height: 16px;
}

/* ===== Spacing ===== */
.p-2\2e 5{
    padding: 12px;
}

.px-2\2e 5 {
    padding-right: 12px;
    padding-left: 12px;
}

.py-2\2e 5 {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* ===== Sizing ===== */
.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

.min-w-25 {
    min-width: 25%;
}

.min-w-50 {
    min-width: 50%;
}

.min-w-75 {
    min-width: 75%;
}

.min-w-100 {
    min-width: 100%;
}

.min-h-25 {
    min-height: 25%;
}

.min-h-50 {
    min-height: 50%;
}

.min-h-75 {
    min-height: 75%;
}

.min-h-100 {
    min-height: 100%;
}

/* ===== Positioning ===== */
.z-0 {
    z-index: 0;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.inset-0 {
    left: 0;
    top: 0;
}

.over-left {
    transform: translateX(-100%);
}

.over-none {
    transform: translateX(0%);
}

.overflow-hidden {
    overflow: hidden;
}

/* ===== Colors ===== */
.bg-none {
    background-color: none !important;
}

.bg-inherit {
    background-color: inherit;
}

.bg-transparent {
    background-color: transparent;
}

/* ===== Animations ===== */
.svb-transition-fast {
    transition: all 0.3s ease;
}

.svb-transition {
    transition: all 1.3s ease;
}

.svb-transition-slow {
    transition: all 2.1s ease;
}

.transition-none {
    transition: none;
}

.hover-darkened:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.hover-grow:hover {
    transform: scale(102%);
}

.hover-text-greyed:hover {
    color: gray !important;
}

.hover-text-lightgrayed:hover {
    color: lightgray !important;
}

.active-shrink:active {
    transform: scale(0.95);
}

/* ===== Responsive styles (Medium sized) ===== */
@media screen and (min-width: 768px) {
    /* ===== Text ===== */
    .text-md-inherit {
        color: inherit;
    }
    
    .text-md-none {
        text-decoration: none;
    }
    
    .text-md-h1 {
        font-size: $h1-font-size;
    }
    
    .text-md-h2 {
        font-size: $h2-font-size;
    }
    
    .text-md-h3 {
        font-size: $h3-font-size;
    }
    
    .text-md-h4 {
        font-size: $h4-font-size;
    }
    
    .text-md-h5 {
        font-size: $h5-font-size;
    }
    
    .text-md-h6 {
        font-size: $h6-font-size;
    }

    .text-md-body {
        font-size: $body-font-size;
    }
    
    .text-md-small {
        font-size: $small-font-size;
    }
    
    .text-md-h1,
    .text-md-h2,
    .text-md-h3,
    .text-md-h4,
    .text-md-h5,
    .text-md-h6 {
        line-height: $headings-line-height;
        letter-spacing: $headings-letter-spacing;
    }

    .w-md-25 {
        width: 25%;
    }

    .w-md-50 {
        width: 50%;
    }

    .w-md-75 {
        width: 75%;
    }

    .w-md-100 {
        width: 100%;
    }
}

/* ===== Responsive styles (Large sized) ===== */
@media screen and (min-width: 992px) {
    /* ===== Text ===== */
    .text-lg-inherit {
        color: inherit;
    }
    
    .text-lg-none {
        text-decoration: none;
    }
    
    .text-lg-h1 {
        font-size: $h1-font-size;
    }
    
    .text-lg-h2 {
        font-size: $h2-font-size;
    }
    
    .text-lg-h3 {
        font-size: $h3-font-size;
    }
    
    .text-lg-h4 {
        font-size: $h4-font-size;
    }
    
    .text-lg-h5 {
        font-size: $h5-font-size;
    }
    
    .text-lg-h6 {
        font-size: $h6-font-size;
    }
    
    .text-lg-body {
        font-size: $body-font-size;
    }
    
    .text-lg-small {
        font-size: $small-font-size;
    }
    
    .text-lg-h1,
    .text-lg-h2,
    .text-lg-h3,
    .text-lg-h4,
    .text-lg-h5,
    .text-lg-h6 {
        line-height: $headings-line-height;
        letter-spacing: $headings-letter-spacing;
    }

    .w-lg-25 {
        width: 25%;
    }

    .w-lg-50 {
        width: 50%;
    }

    .w-lg-75 {
        width: 75%;
    }

    .w-lg-100 {
        width: 100%;
    }
}